In [3]:
marks = [60, 95, 60, 40]
total = sum(marks)
count = len(marks)
average = total / count
print("Average Marks:", average)

Average Marks: 63.75

In [7]:
emp={"Name":"Harsha","age":25,"salary":25000}
key_to_check="salary"
if key_to_check in emp:
  print("salary exists")
else:
    print("salary doesnt exists")

salary exists

In [12]:
list=[10,50,78]
list_tuple=tuple(list)
print("list:",list)
print("list_tuple:",list_tuple)

list: [10, 50, 78]
list_tuple: (10, 50, 78)

In [14]:
from enum import unique
phone_number=[56879456,9985374128,9985374128]
unique=set(phone_number)
print("unique:",unique)

unique: {56879456, 9985374128}

In [16]:
name=input("enter a string")
char_count = {}
for char in name:
    if char in char_count:
        char_count[char] += 1
    else:
        char_count[char] = 1

print(char_count)

enter a stringharsha
{'h': 2, 'a': 2, 'r': 1, 's': 1}

In [19]:
attendance = ["P", "P", "A", "P","A","P", "P"]

present_count = attendance.count("P")
total_days = len(attendance)
percentage = (present_count / total_days) * 100

print("Attendance Percentage:", percentage)

Attendance Percentage: 71.42857142857143

In [21]:

prices = [1450, 120, 999, 1500, 3000]
count = 0

for price in prices:
    if price > 1000:
        count += 1

print("Products above 1000:", count)

Products above 1000: 3

In [23]:
numbers = [45, 22, 89, 10, 66]
l=max(numbers)
n=min(numbers)
print("l:",l)
print("n:",n)

l: 89
n: 10

In [28]:
sentence = input("Enter sentence: ")
words = sentence.split()
unique_words = set(words)

print("Unique words count:", len(unique_words))
print("Unique words:", unique_words)

Enter sentence: python is easy to learn
Unique words count: 5
Unique words: {'learn', 'to', 'is', 'python', 'easy'}

In [30]:
employees = {
    "tillu": 98000,
    "Anita": 69000,
    "santhosh": 72000
}
highest_employee = max(employees, key=employees.get)
highest_salary = employees[highest_employee]

print(f"Highest Salary: {highest_employee} - {highest_salary}")

Highest Salary: tillu - 98000